.bgHeroPattern {
    background-image: url('../public/assets/home/desktop/bg-pattern-hero-home.svg');
    
}

.bgWebDesign {
    background-image: url('../public/assets/home/mobile/image-web-design.jpg');
}

.bgAppDesign {
    background-image: url('../public/assets/home/mobile/image-app-design.jpg');
}

.bgGraphicDesign {
    background-image: url('../public/assets/home/mobile/image-graphic-design.jpg');
}

.inputStyle {
    background-color: #E88069;
    padding: 10px;
    border-bottom: solid 1px white;
    outline: none;
    margin-bottom: 5px;
    color: white;

}
.inputStyle::placeholder {
    color: white;
    font-weight: bold;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}